<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Queries</title>
    </head>

    <body>
        <div class = "sidebar">
            <form action="/">
                <input type = "submit" value = "Login home">
            </form>
            <form action="/showtable" method="post">
                <input type = "submit" value = "All fundraisers">
            </form>
            <form action="/rankings" method="post">
                <input type = "submit" value = "See rankings">
            </form>
            <form action="/contact" method="post">
                <input type = "submit" value = "Contact us">
            </form>
        </div>

        <div class="content">
            <h2>Contact Support</h2>
            <form action = "/submitform" method="post">
                <h5>Name:</h5></p><input type="Text" placeholder="Name in capitals">
                <h5>Contact </h5></p><input type="number" PLACEHOLDER="Phonenumber">
                <h5>email</h5></p><input type="email" placeholder="Enter Email here">
                <h5>Place of living</h5>
                <select name="Your Place" id="city">
                    <option value="Delhi">Delhi </option>
                    <option value="Mumbai">Bombay</option>
                    <option value="Banglore">Bangalore</option>
                    <Option value="Kolkata">Calcutta</Option>
                </select>
                <br>
                <footer>
                    <h5>Feedback</h5></p>
                    <textarea name="Form and Overall Feedback" placeholder="Type here" row="200" column="500"></textarea>
                </footer>
                <input type="submit" placeholder="submit form">
            </form>
        </div>
    </body>
</html>
