<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href = "/static/styles.css">
        <title> See users </title>
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById('searchInput');
                filter = input.value.toUpperCase();
                table = document.getElementById('table1');
                tr = table.getElementsByTagName('tr');
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName('td')[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = '';
                        } else {
                            tr[i].style.display = 'none';
                        }
                    }
                }
            };
        </script>
        <style>
            th{
                background: red;
                font-size:x-large;
                text-decoration: white underline;
                font-size: 20px;
            }
        </style>
    </head>
    
    <body>
        <div class = "sidebar">
            <form action="/">
                <input type = "submit" value = "Login home">
            </form>
            <form action="/showtable" method="post">
                <input type = "submit" value = "All fundraisers">
            </form>
            <form action="/rankings" method="post">
                <input type = "submit" value = "See rankings">
            </form>
            <form action="/contact" method="post">
                <input type = "submit" value = "Contact us">
            </form>
        </div>

        <div class="content">
            <p><caption> List of registered fundraisers </caption></p>
            <input type="text" id="searchInput" placeholder="Search by name" oninput="myFunction()"><p></p>
            <table id="table1" class="table table-striped caption-top">
                <tr>
                    <th>Name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Amount donated</th>
                    <th>Social Media</th>
                </tr>
    
                {% for row in data %}
                <tr>
                    <td> {{ row["fname"] }} {{ row["lname"] }} </td>
                    <td> {{ row["numb"] }} </td>
                    <td> {{ row["email"] }} </td>
                    <td> {{ row["money"] }} </td>
                    <td><a>  </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>

